# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/*-ctl
!bin/i3-ctl
!bin/bluetooth-headset-ctl
!bin/netease-cloud-music-ctl
!bin/mouse-left-click
bin/file-open
bin/lid-monitor

# Debug files
*.dSYM/
*.su

# Secrets
.config/polybar/weather.env

# Temporaries
.dialogrc
.config/dunst/dunstrc