# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/file-open
bin/lid-monitor
bin/i3lock
bin/bluetooth-mobile-ctl
bin/gpm-ctl
bin/keymap-ctl
bin/tty-ctl
bin/xkeysnail-ctl

# Debug files
*.dSYM/
*.su

# Secrets
.config/polybar/weather.env

# Temporaries
.dialogrc
.config/dunst/dunstrc
.config/polybar/config
i3lock