[Unit]
Description=Desktop lock service
Before=sleep.target

[Service]
User=%I
Type=forking
ExecStart=/home/%I/bin/desktop-lock system-sleep
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target