[Unit]
Description=VirtualBox save service
Before=sleep.target

[Service]
User=%I
Type=forking
ExecStart=/home/%I/bin/virtualbox-ctl save
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target