[Unit]
Description=VirtualBox save service
Before=sleep.target

[Service]
User=%I
Type=forking
ExecStart=/home/%I/bin/virtualbox-ctl save

[Install]
WantedBy=sleep.target