[Desktop Entry]
Name=Bluetooth headset
GenericName=Bluetooth headset toggle
Exec=/bin/bash -c "~/bin/bluetooth-headset-ctl toggle"
Type=Application
Terminal=false
Icon=audio-headset-symbolic.symbolic
